body{
    font-family: 'Inter', 'Spoqa Han Sans', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans', 'sans-serif';
    color: #000000;
    background-color: #fdfbf4;
    padding: 0 10% 0 10%;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-panel{
    display: flex;
    width: 100%;
    height: 72px;
    /* padding-left: 10%;
    padding-right: 10%; */
    justify-content: space-between;
    align-items: center;
}

.title{
    width: 154px;
    height: 31px;
}

li{
    list-style: none;

}

li > a{
    margin: 10px;
    text-align: center;
    color: #000000;
}

header > nav{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.description{
    font-size: 13px; color: rgb(85, 85, 85);
    line-height: 190%;
    width: 40%;
    margin: 5% 0;
}

.description > .d-content{
    color: rgb(85, 85, 85);
}

.description > .d-name{
    font-size: 14px;
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
}

.store-title{
    border-top: solid  1px rgb(85, 85, 85);
    width: 100%;
    margin: 10% 0 0;
    border-bottom: solid 0.5px #e5e7eb;
}

.store-name{
    font-size: 24px;
    margin: 20px 0;
}

.store-content{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
}

.store-img > img{
    position: absolute;
    height: 800px;
    width: 100%;
    top: 0;
    left: 0;
}

.store-bottom{
    display: flex;
    margin-bottom: 15%;
}

.store-bottom > .notice{
    width: 300px;
    padding: 2%;
    padding-left: 0;
}

.store-bottom > .store-description{
    width: 600px;
    padding: 2%;
    padding-left: 7%;
}

#main-items{
    display: flex;
    justify-content: space-between;
}

.shop-contents{
    width: 70%;
}

.shop-items{
    display: flex;
    justify-content: space-between;
}

.shop-title{
    font-size: 24px;
    margin-bottom: 5%;
}

.komf-title{
    font-size: 20px;
    margin-bottom: 10%;
}

.journal-title{
    font-size: 24px;
    margin-bottom: 5%;

}

.komfortabel{
    width: 250px;
}

.gift,
.dif{
    width: 45%;
}

.gift-t,
.dif-t,
.komf-t{
    font-size: 14px;
    padding: 6px 0px;
    border-top: solid  1px rgb(85, 85, 85);
    border-bottom: solid 0.5px #e5e7eb;
}

.gift-name,
.dif-name,
.komf-order{
    color: #999;
    margin: 1px;
}

.gift-img,
.dif-img,
.komf-img{
    width: 100%;

}

.gift-d,
.dif-d,
.komf-d{
    font-size: 13px;
    color: rgb(85, 85, 85);
    margin-top: 4%;
}

.journal-area{
    margin-top: 15%;
}

.journal-contents{
    display: flex;
    justify-content: space-between;

}

.bookstore,
.spring{
    width: 40%;
    height: auto;
}
